In [1]:
import pandas as pd

Dataframe : table container

In [12]:

pd.DataFrame(
    {'Rooms':[1,2,1],'Bathrooms':[1,1,1],'Area':['Venice','Marseille','Paris'],'Price':[300,300,200]},
    index=['Solution 1','Solution 2','Solution 3']
)

            Rooms  Bathrooms       Area  Price
Solution 1      1          1     Venice    300
Solution 2      2          1  Marseille    300
Solution 3      1          1      Paris    200

In [13]:
product = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
product.loc["2016 Sales"]

35

In [14]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')
recipe

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [15]:
wine_reviews = pd.read_csv("data/winemag-data_first150k.csv",index_col=0)
# to get dimension of the table
wine_reviews.shape
# to get 5 five rows
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

## Indexing

### iloc : integer location

```
Iloc uses standard python indexing so [0:10] will select entries from 0,...,9
```

data.iloc[row,column]

In [2]:
data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]},index=['X','Y','Z'])

selected_data = data.iloc[0:3, 0:2]
print(selected_data)

   A  B
X  1  4
Y  2  5
Z  3  6

### loc : select by dataframe label
```
Loc indexing different than standard python : [0,10] will select 0,...,10
```

In [17]:
selected_data = data.loc['X':'Z', 'A':'B']
print(selected_data)

   A  B
X  1  4
Y  2  5
Z  3  6

In [18]:
df = pd.DataFrame(
    {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [50000, 60000, 70000, 80000]})

max_salary = df.Salary.max()
f_salary = df.Salary[0]

print(max_salary)

80000

### Conditionnal selection

In [19]:
sample_reviews = wine_reviews.loc[[1,2,3,5,8]]

wine_reviews.loc[wine_reviews.country == 'Spain'].head()

wine_reviews.country =="Italy"

wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)].head()

wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])].head()

wine_reviews.loc[wine_reviews.price.notnull()].head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [20]:
indices = [0,1,10,100]
features = ['country','price','region_1','region_2']
df = pd.DataFrame(wine_reviews.loc[indices,features])
df

    country  price     region_1     region_2
0        US  235.0  Napa Valley         Napa
1     Spain  110.0         Toro          NaN
10    Italy   80.0       Collio          NaN
100      US   24.0  South Coast  South Coast

In [21]:
top_oceania_wines = wine_reviews.loc[
    (wine_reviews.points >= 95) & 
    (wine_reviews.country.isin(['Australia','New Zealand']))
]
top_oceania_wines.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
2148,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Shiraz,Torbreck
2458,Australia,This is a top example of the classic Australia...,The Peake,96,150.0,South Australia,McLaren Vale,NaN,Cabernet-Shiraz,Hickinbotham
3033,Australia,This Cabernet equivalent to Grange has explode...,Bin 707,95,500.0,South Australia,South Australia,NaN,Cabernet Sauvignon,Penfolds

### Assigning data

In [22]:
wine_reviews["critic"] = 'everyone'
wine_reviews["critic"]

0         everyone
1         everyone
2         everyone
3         everyone
4         everyone
            ...
150925    everyone
150926    everyone
150927    everyone
150928    everyone
150929    everyone
Name: critic, Length: 150930, dtype: object

# Map and groupby

In [25]:
wine_reviews.points.head(3)
wine_reviews.points.map(lambda p : p - 1).head(3)

0    95
1    95
2    95
Name: points, dtype: int64

In [54]:
rev = wine_reviews.head(5)
rev.groupby('points').points.count()
# rev
rev.groupby('points').price.min()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,everyone
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,everyone
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,everyone
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,everyone
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,everyone

# Sorting

In [65]:

wine_reviews.sort_values(by='points').head(5)

,level_0,index,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic
92914,92914,92914,Spain,"Smells like canned fruit, and tastes like gree...",Clos Torribas Blanc de Blancs,80,10.0,Catalonia,Penedès,NaN,White Blend,Pinord,everyone
96766,96766,96766,Spain,There's something not right about the way this...,Gran Reserva Brut Nature,80,27.0,Catalonia,Cava,NaN,Sparkling Blend,Oriol Rossell,everyone
96767,96767,96767,Spain,This is mucky and sweet. Its best foot is not ...,NaN,80,8.0,Northern Spain,Cariñena,NaN,Garnacha,Castillo de Monséran,everyone
96768,96768,96768,Spain,"Eight grapes comprise this weird, peanutty, al...",Las Ocho,80,25.0,Levante,Utiel-Requena,NaN,Red Blend,Chozas Carrascal,everyone
96769,96769,96769,US,"Port-like, with raisiny, baked cherry and cara...",Grand Reserve,80,40.0,California,California,California Other,Petit Verdot,French Hill,everyone

In [72]:
wine_reviews.sort_values(by=['country', 'points'])

,level_0,index,country,description,designation,points,price,province,region_1,region_2,variety,winery,critic
4642,4642,4642,Albania,This garnet-colored wine made from 100% Kallme...,NaN,88,20.0,Mirditë,NaN,NaN,Kallmet,Arbëri,everyone
4864,4864,4864,Albania,This garnet-colored wine made from 100% Kallme...,NaN,88,20.0,Mirditë,NaN,NaN,Kallmet,Arbëri,everyone
7793,7793,7793,Argentina,"Tropical, soapy aromas are yeasty and flat. Fl...",NaN,80,13.0,Mendoza Province,Mendoza,NaN,Chardonnay,Tres Exilios,everyone
7794,7794,7794,Argentina,Candied plum and red berry aromas smell like r...,Estate Bottled,80,5.0,Mendoza Province,Mendoza,NaN,Malbec,Terrenal,everyone
10533,10533,10533,Argentina,"Oily, match-stick aromas are none too friendly...",Phebus,80,12.0,Mendoza Province,Mendoza,NaN,Torrontés,Fabre Montmayou,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68226,68226,68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas,everyone
113016,113016,113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas,everyone
135696,135696,135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas,everyone
1133,1133,1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis,everyone
1440,1440,1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ,everyone

# Missing Data

In [73]:
wine_reviews[pd.isnull(wine_reviews.country)]

# replace Not Available data
wine_reviews.region_2.fillna("Unknown")
wine_reviews.price.replace(20.0, 22.0)

0         235.0
1         110.0
2          90.0
3          65.0
4          66.0
          ...
150925     22.0
150926     27.0
150927     22.0
150928     52.0
150929     15.0
Name: price, Length: 150930, dtype: float64

# Renaming and combining

In [ ]:
wine_reviews.rename(columns={'points': 'score'})
wine_reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [ ]:
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")


left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')